//@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

//colors map
Woodsmoke = #131517 //Header bar
Shark = #1f2225 //BG
Shark= #2d3034 //Titles
Abbey = #4c5054 //Border
Boulder = #767676 //Border

radialGradient = radial-gradient(ellipse at center, rgba(85,221,195,0.1) 0%,rgba(85,221,195,0) 100%)

//Fonts
OceanGreen = #41bc76 //Green
RadicalRed = #f7294b //Red
Edward = #a1a2a2 //Gray
Silver = #cbcbcb //Gray
White = white //White


$color-body-background = Shark
$color-header-background = Woodsmoke
$color-faded-background = Abbey
$color-platform-red = RadicalRed
$color-platform-green = OceanGreen
$color-font-default = Silver
$color-font-faded = Edward
$color-font-headings = White
$color-border-default = Boulder

$font-family-base = 'Lato', sans-serif
$font-weight-base = 400
$font-weight-light = 300
$font-weight-bold = 700
